<div class="app-page animated fadeIn">
	<div class="page-heading">
		<h1>{{'planning_production.title' | translate}}</h1>
		<p>{{'planning_production.description' | translate}}</p>
	</div>
	<div class="page-content">

		<div class="row page-part">
			<select>
				<option value="asdfasdf" >Choose your option</option>
				<option value="1">Option 1</option>
				<option value="2">Option 2</option>
				<option value="3">Option 3</option>
			</select>
		</div>

		<div class="row page-part">
			<md-tab-group>
				<md-tab>
					<template md-tab-label>One</template>
					<template md-tab-content>
						<h1>Some tab content</h1>
						<p>...</p>
					</template>
				</md-tab>
				<md-tab>
					<template md-tab-label>Two</template>
					<template md-tab-content>
						<h1>Some more tab content</h1>
						<p>...</p>
					</template>
				</md-tab>
			</md-tab-group>
		</div>
	</div>
</div>