@import '../../styles/colors';
@import '../../styles/breakpoints';

.dimmer {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    right: 0;
    bottom: 0;
    cursor: default;
    position: fixed;
}

.perfect-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dirty-white;
    z-index: 2000;
    margin: auto;
    width: 29rem;
    height: 19rem;
    -webkit-box-shadow: 0px 6px 27px -4px rgba(16,16,16,1);
    -moz-box-shadow: 0px 6px 27px -4px rgba(16,16,16,1);
    box-shadow: 0px 6px 27px -4px rgba(16,16,16,1);

    .title {
        width: 100%;
        background: $primary-theme;
        height: 4rem;
        font-variant: small-caps;
        text-overflow: hidden;
        color: $white;
        line-height: 3.5rem;
        font-size: 1.5rem;
        padding-left: 1rem;
        white-space: nowrap;
        overflow: hidden;
    }   

    .closeButton {
        position: absolute;
        right: 0;
        top: 0;
        color: $white;
        margin: 1rem;
        cursor: pointer;
    }

    .buttons {
        position: absolute;        
        bottom: 0;
        background: $light-gray;
        width: 100%;

        .button {
            cursor: pointer;
            float: right;
            background: $primary-theme;
            margin: .5rem;
            color: $white;
            padding: .5rem 1rem .5rem 1rem;
        }
    }

    .text {
        padding: 2rem;
        font-size: 1.1rem;
        margin-top: 1rem;
        height: 10rem;
        overflow: auto;
    }
}