<!-- Dropdown Structure -->
<ul id="language_dropdown" class="dropdown-content">
    <li><a>Deutsch</a></li>
    <li><a>Englisch</a></li>    
</ul>

<ul id="profile_dropdown" class="dropdown-content">
    <li><a>Profil</a></li>
    <li class="divider"></li>
    <li><a (click)="logout()">Logout</a></li>    
</ul>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">                        
            <ul class="left">
                <li><a routerLink="/start" routerLinkActive="active">Start</a></li>
                <li><a routerLink="/warehouse" routerLinkActive="active">Lager</a></li>
            </ul>
            <ul id="nav-mobile" class="right">
                <li><a class="dropdown-button" data-activates="language_dropdown">Sprache<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" data-activates="profile_dropdown"><i class="material-icons right">account_circle</i></a></li>
            </ul>
        </div>
    </nav>
</div>