<!-- Dropdown Structure -->
<ul id="language_dropdown" class="dropdown-content">
    <li><a href="#!" (click)="logout()">Deutsch</a></li>
    <li><a href="#!">Englisch</a></li>
    <li class="divider"></li>
    <li><a href="#!">bla</a></li>
</ul>

<ul id="profile_dropdown" class="dropdown-content">
    <li><a href="#!">Profil</a></li>
    <li class="divider"></li>
    <li><a href="#!" (click)="logout()">Logout</a></li>    
</ul>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Ibsys2 Bike Shop</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a routerLink="/start" routerLinkActive="active">Start</a></li>
                <li><a routerLink="/warehouse" routerLinkActive="active">Lager</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="dropdown-button" data-activates="language_dropdown">Sprache<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" data-activates="profile_dropdown"><i class="material-icons right">account_circle</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a routerLink="/start" routerLinkActive="active">Start</a></li>
                <li><a routerLink="/warehouse" routerLinkActive="active">Lager</a></li>
            </ul>
        </div>
    </nav>
</div>