<div class="app-page animated fadeIn">
	<div class="page-content">
		<div class="row page-part">
			<div>
				<div class='wrapper'>
					<div class='container' [dragula]='"material-bag"' [dragulaModel]='parts'>
						<div class="purchase-item" *ngFor='let item of parts'>
							<div class="col s2 m1">
								<div class="title">{{'planning_material.container.article'|translate}}</div>
								<div class="detail">{{item['@'].article}}</div>
							</div>
							<div class="col s6 m3">
								<div class="title">{{'planning_material.container.description'|translate}}</div>
								<div class="detail">{{getPartInformation(item['@'].article).Description}}</div>
							</div>
							<div class="col s4 m3">
								<div class="title">{{'planning_material.container.quantity'|translate}}</div>
								<div class="detail">
									<input type="text" [(ngModel)]="item['@'].quantity" placeholder="item['@'].article">
								</div>
							</div>
							<div class="col s6 m5">
								<div class="title">{{'planning_material.container.workstations'|translate}}</div>
								<div class="detail">
									<ul>
										<li *ngFor="let ws of getWorkstations(getPartInformation(item['@'].article).id)" class="workstation">
											{{ws}}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>