<md-toolbar color="primary">
    <a class="menu-icon-button" (click)="sidenav.toggle()">
        <i class="mdi mdi-menu"></i>
    </a> 
    
    <span class="app-title">IBSYS II - WS2016 ka6</span>

    <a (click)="logout()">Logout</a>

    <span class="app-toolbar-filler"></span>
</md-toolbar>

<md-sidenav-layout>

    <md-sidenav #sidenav mode="side" class="app-sidenav" opened="true">
        Sidenav
    </md-sidenav>

    <div class="app-content">

        <router-outlet></router-outlet>
    </div>

</md-sidenav-layout>