<div class="app-page animated fadeIn">
	<div class="page-heading">
		<div class="row dashboard-cards">
			<div class="col s12 m3">
				<div class="dashboard-card card-blue">
					<div class="card-statistic">
						65,58%
					</div>
					<div class="card-title">
						Efficiency
					</div>
					<div class="card-icon">
						<i class="mdi mdi-check"></i>
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="dashboard-card card-red">
					<div class="card-statistic">
						300
					</div>
					<div class="card-title">
						Sales
					</div>
					<div class="card-icon">
						<i class="mdi mdi-clipboard-text"></i>
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="dashboard-card card-green">
					<div class="card-statistic">
						99%
					</div>
					<div class="card-title">
						Delivery reliability
					</div>
					<div class="card-icon">
						<i class="mdi mdi-elevation-decline"></i>
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="dashboard-card card-orange">
					<div class="card-statistic">
						3.467,58 €
					</div>
					<div class="card-title">
						Profit
					</div>
					<div class="card-icon">
						<i class="mdi mdi-bank"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="row">
			<div class="col s12 m12 l6">
				<div class="page-part">
					<h1>Highcharts</h1>
					<chart [options]="optionsChart1"></chart>
				</div>
			</div>
			<div class="col s12 m12 l6">
				<div class="page-part">
					<h1>Highcharts</h1>
					<chart [options]="optionsChart2"></chart>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6 l6">
				<div class="page-part">
					<h1>Chart.js</h1>
					<div style="display: block">
						<canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
							(chartClick)="chartClicked($event)"></canvas>
					</div>
				</div>
			</div>
			<div class="col s12 m12 l6">
				<div class="page-part">
					<h1>Highcharts</h1>
					<chart [options]="optionsChart3"></chart>
				</div>
			</div>
		</div>
	</div>
</div>