@import '../../styles/colors';
@import '../../styles/breakpoints';

chart {
    display: block;
}

.dashboard-cards{
    margin-top: 1rem;

    .dashboard-card {
        height: 7rem;
        background-color: $primary;
        color: $white;
        border: 1px solid $light-gray-basic;
        padding: 1rem;
        position: relative;
        cursor: default;

        &.card-blue{
            background-color: $blue;
        }
        &.card-green{
            background-color: $green;
        }
        &.card-red{
            background-color: $red;
        }
        &.card-orange{
            background-color: $orange;
        }

        .card-title {
            position: absolute;
            top: 1.5rem;
            opacity: .7;
        }

        .card-statistic {
            font-size: 2rem;
            position: absolute;
            bottom: 1.3rem;
        }

        .card-icon {
            position: absolute;
            right: .5rem;
            display: block;
            bottom: -0.4rem;
            opacity: .2;
            i.mdi{
                font-size: 4rem;
            }
        }
    }
}