<div class="app-page animated fadeIn">
	<div class="page-heading">
		<h1>{{'purchasing.title' | translate}}</h1>
		<p>{{'purchasing.description' | translate}}</p>
	</div>
	<div class="page-content">
		<div class="row page-part">
			<table>
				<thead>
					<tr>
						<th data-field="purchase_part">{{'purchasing.table.purchase_part'|translate}}</th>
						<th data-field="delivery_time">{{'purchasing.table.delivery_time'|translate}}</th>
						<th data-field="deviation">{{'purchasing.table.deviation'|translate}}</th>
						<th data-field="discount_quantity">{{'purchasing.table.discount_quantity'|translate}}</th>
						<th data-field="stock_last_period">{{'purchasing.table.stock_last_period'|translate}}</th>
						<th data-field="order_quantity">{{'purchasing.table.order_quantity'|translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>21</td>
						<td>1.8</td>
						<td>0.4</td>
						<td>300</td>
						<td>520</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>21</td>
						<td>1.8</td>
						<td>0.4</td>
						<td>300</td>
						<td>520</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>21</td>
						<td>1.8</td>
						<td>0.4</td>
						<td>300</td>
						<td>520</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>21</td>
						<td>1.8</td>
						<td>0.4</td>
						<td>300</td>
						<td>520</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>21</td>
						<td>1.8</td>
						<td>0.4</td>
						<td>300</td>
						<td>520</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>21</td>
						<td>1.8</td>
						<td>0.4</td>
						<td>300</td>
						<td>520</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>21</td>
						<td>1.8</td>
						<td>0.4</td>
						<td>300</td>
						<td>520</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>21</td>
						<td>1.8</td>
						<td>0.4</td>
						<td>300</td>
						<td>520</td>
						<td><input type="text"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>