<div class="app-page animated fadeIn">
	<div class="page-heading">
		<h1>{{'planning_purchasing.title' | translate}}</h1>
		<p>{{'planning_purchasing.description' | translate}}</p>
	</div>
	<div class="page-content">
		<div class="row page-part">
			<table>
				<thead>
					<tr>
						<th data-field="purchase_part">{{'planning_purchasing.table.purchase_part'|translate}}</th>
						<th data-field="delivery_time">{{'planning_purchasing.table.delivery_time'|translate}}</th>
						<th data-field="deviation">{{'planning_purchasing.table.deviation'|translate}}</th>
						<th data-field="discount_quantity">{{'planning_purchasing.table.discount_quantity'|translate}}</th>
						<th data-field="stock_last_period">{{'planning_purchasing.table.stock_last_period'|translate}}</th>
						<th data-field="order_quantity">{{'planning_purchasing.table.order_quantity'|translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>21</td>
						<td>1,8</td>
						<td>0,4</td>
						<td>300</td>
						<td>520</td>
					</tr>
					<tr>
						<td>22</td>
						<td>1,7</td>
						<td>0,4</td>
						<td>300</td>
						<td>330</td>
					</tr>
					<tr>
						<td>23</td>
						<td>1,2</td>
						<td>0,2</td>
						<td>300</td>
						<td>400</td>
					</tr>
					<tr>
						<td>24</td>
						<td>3,2</td>
						<td>0,3</td>
						<td>6.100</td>
						<td>6.685</td>
					</tr>
					<tr>
						<td>25</td>
						<td>0,9</td>
						<td>0,2</td>
						<td>3.600</td>
						<td>4.200</td>
					</tr>
					<tr>
						<td>27</td>
						<td>0,9</td>
						<td>0,2</td>
						<td>1.800</td>
						<td>1.880</td>
					</tr>
					<tr>
						<td>28</td>
						<td>1,7</td>
						<td>0,4</td>
						<td>4.500</td>
						<td>5.675</td>
					</tr>
					<tr>
						<td>32</td>
						<td>2,1</td>
						<td>0,5</td>
						<td>2.700</td>
						<td>3.380</td>
					</tr>
					<tr>
						<td>33</td>
						<td>1,9</td>
						<td>0,5</td>
						<td>900</td>
						<td>470</td>
					</tr>
					<tr>
						<td>34</td>
						<td>1,6</td>
						<td>0,3</td>
						<td>22.000</td>
						<td>6.520</td>
					</tr>
					<tr>
						<td>35</td>
						<td>2,2</td>
						<td>0,4</td>
						<td>3.600</td>
						<td>4.460</td>
					</tr>
					<tr>
						<td>36</td>
						<td>1,2</td>
						<td>0,1</td>
						<td>900</td>
						<td>180</td>
					</tr>
					<tr>
						<td>37</td>
						<td>1,5</td>
						<td>0,3</td>
						<td>900</td>
						<td>1150</td>
					</tr>
					<tr>
						<td>38</td>
						<td>1,7</td>
						<td>0,4</td>
						<td>300</td>
						<td>1750</td>
					</tr>
					<tr>
						<td>39</td>
						<td>1,5</td>
						<td>0,3</td>
						<td>1800</td>
						<td>3330</td>
					</tr>
					<tr>
						<td>40</td>
						<td>1,7</td>
						<td>0,2</td>
						<td>900</td>
						<td>1905</td>
					</tr>
					<tr>
						<td>41</td>
						<td>0,9</td>
						<td>0,2</td>
						<td>900</td>
						<td>1005</td>
					</tr>
					<tr>
						<td>42</td>
						<td>1,2</td>
						<td>0,3</td>
						<td>1.800</td>
						<td>2.010</td>
					</tr>
					<tr>
						<td>43</td>
						<td>2</td>
						<td>0,5</td>
						<td>2.700</td>
						<td>1.105</td>
					</tr>
					<tr>
						<td>44</td>
						<td>1</td>
						<td>0,2</td>
						<td>900</td>
						<td>2.435</td>
					</tr>
					<tr>
						<td>45</td>
						<td>1,7</td>
						<td>0,3</td>
						<td>900</td>
						<td>1005</td>
					</tr>
					<tr>
						<td>46</td>
						<td>0,9</td>
						<td>0,3</td>
						<td>900</td>
						<td>1005</td>
					</tr>
					<tr>
						<td>47</td>
						<td>1,1</td>
						<td>0,1</td>
						<td>900</td>
						<td>1205</td>
					</tr>
					<tr>
						<td>48</td>
						<td>1</td>
						<td>0,2</td>
						<td>1.800</td>
						<td>2.330</td>
					</tr>
					<tr>
						<td>52</td>
						<td>1,6</td>
						<td>0,4</td>
						<td>600</td>
						<td>620</td>
					</tr>
					<tr>
						<td>53</td>
						<td>1,6</td>
						<td>0,2</td>
						<td>22.000</td>
						<td>23.120</td>
					</tr>
					<tr>
						<td>57</td>
						<td>1,7</td>
						<td>0,3</td>
						<td>600</td>
						<td>840</td>
					</tr>
					<tr>
						<td>58</td>
						<td>1,6</td>
						<td>0,5</td>
						<td>22.000</td>
						<td>31.040</td>
					</tr>
					<tr>
						<td>59</td>
						<td>0,7</td>
						<td>0,2</td>
						<td>1.800</td>
						<td>2.300</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>