@import "colors";

html, body {
    background-color: $white;
    margin:0;
    height:100%;
    overflow:hidden;
}

/*
* FORMS
*/

 /* label color */
.input-field label {
    color: $theme-color;
}
/* label focus color */
.input-field input[type]:focus + label {
    color: $theme-color;
}
/* label underline focus color */
.input-field input[type]:focus {
    border-bottom: 1px solid $theme-color !important;
    box-shadow: 0 1px 0 0 $theme-color !important;
}
/* valid color */
.input-field input[type].valid {
    border-bottom: 1px solid $theme-color !important;
    box-shadow: 0 1px 0 0 $theme-color !important;
}
/* invalid color */
.input-field input[type].invalid {
    border-bottom: 1px solid $theme-color !important;
    box-shadow: 0 1px 0 0 $theme-color !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: $theme-color;
}

/*
* HEADERS
*/
h1, h2, h3, h4, h5{
    color: $theme-color;
}