<div class="app-page animated fadeIn">
	<div class="page-content">
		<div class="row page-part">
			<table>
				<thead>
					<tr>
						<th data-field="workstation_number">{{'planning_capacity.table.workstation_number'|translate}}</th>						
						<th data-field="shift">{{'planning_capacity.table.shift'|translate}}</th>
						<th data-field="overtime">{{'planning_capacity.table.overtime'|translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let workplace of workplaces">
						<td>{{workplace['@'].station}}</td>
						<td><input type="number" min="0" max="3" [(ngModel)]="workplace['@'].shift"></td>
						<td><input type="number" min="0" [(ngModel)]="workplace['@'].overtime"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>