@import '../../public/scss/colors';
@import '../../public/scss/breakpoints';

.loginpage{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    background-color: $light-gray;
}

.loginContainer{    
    width: 22rem;
    height: 28rem;
    margin: auto;
    position: absolute;
    top: 0;
    padding: 1rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $white;
    border-radius: 0;
    -webkit-box-shadow: 0px 6px 27px -4px rgba(122,122,122,1);
    -moz-box-shadow: 0px 6px 27px -4px rgba(122,122,122,1);
    box-shadow: 0px 6px 27px -4px rgba(122,122,122,1);

    .row {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.1rem;
    }

    .title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    input[type="checkbox"]:checked+label:before {
        border-right: 2px solid $theme-color;
        border-bottom: 2px solid $theme-color;
    }

    .input-field {        
        margin-top: 0rem;
    }

    .input-field .prefix {        
        color: $theme-color;
        line-height: 3rem;                
    }

    .btn{
        width: 100%;
        background-color: $theme-color;
    }

    .copy{
        font-size: .8rem;
        color: $gray;
    }

    @include breakpoint(mobileonly){
		width: 100%;
        height: 100%
	}
}