<div class="app-page animated fadeIn">
	<div class="page-heading">
		<!--<h1>Settings</h1>-->
		<h1>{{'settings.title' | translate}}</h1>
		<p>{{'settings.description' | translate}}</p>
	</div>
	<div class="page-content">
		<div class="row">
			<div class="col s12">
				<p>Change the language:</p>
				<a class="waves-effect waves-light btn" (click)="changeLanguage('en')">English</a>
				<a class="waves-effect waves-light btn" (click)="changeLanguage('de')">German</a>
			</div>
		</div>
	</div>
</div>