<div class="app-page animated fadeIn">
	<div class="page-heading">
		<h1>{{'planning_overview.title' | translate}}</h1>
		<p>{{'planning_overview.description' | translate}}</p>
	</div>
	<div class="page-content">

		<select class="page-part">
            <option value="asdfasdf" >Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>

		<div class="page-part">
			<a class="waves-effect waves-light btn-large" (click)="loadComponent('production')">Produktion</a>
			<a class="waves-effect waves-light btn-large" (click)="loadComponent('material')">Material</a>
		</div>
	</div>
</div>