<div class="app-page animated fadeIn">
	<div class="page-heading">
		<h1>{{'welcome.title'|translate}}</h1>
		<p>{{'welcome.description'|translate}}</p>
	</div>
	<div class="page-content">
		<div class="row">
			<div class="col m12 l6">
				<div class="page-part">
					<h1>{{'welcome.actions.title'|translate}}</h1>
					<a class="action-link" routerLink="/app/planning">{{'welcome.actions.start_planning'|translate}}</a><br>
					<a class="action-link" routerLink="/app/parts">{{'welcome.actions.search_parts'|translate}}</a>
				</div>
			</div>
			<div class="col m12 l6">
				<div class="page-part">
					<h1>{{'welcome.links.title'|translate}}</h1>
					<ul>
						<li><a target="_blank" href="http://scsimulator.de/">{{'welcome.links.scsimulator'|translate}}</a></li>
						<li><a href="http://scsim-phoenix.de/scs/scsverwaltung/frameset.jsp">{{'welcome.links.test_environment'|translate}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>