<div class="app-page animated fadeIn">
    <div class="page-heading">
        <h1>{{'parts.title'|translate}}</h1>
        <p class="ellipsis">{{'parts.description'|translate}}</p>
    </div>
    <div class="page-sub-heading">
        <div class="row">
            <div class="col s12">
                <input type="search" placeholder="Search for parts" [(ngModel)]="searchTerm" (keyup)="onSearchKeyUp()">
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="page-part">
            <ul class="collection" *ngIf="filteredData.length > 0">
                <li class="collection-item avatar animated fadeIn" *ngFor="let part of filteredData">
                    <div class="circle">{{reverse(noWhiteSpace(part.id))}}</div>
                    <span class="title">{{part.Description}}</span>
                    <div class="info row">
                        <div class="info-card col l2 m6 s12" *ngIf="part.Usage">
                            <div class="title">
                                Usage
                            </div>
                            <div class="value">
                                {{part.Usage}}
                            </div>
                        </div>
                        <div class="info-card col l2 m6 s12">
                            <div class="title">
                                StartAmount
                            </div>
                            <div class="value">
                                {{part.StartAmount}}
                            </div>
                        </div>
                        <div class="info-card col l2 m6 s12">
                            <div class="title">
                                StartPrice
                            </div>
                            <div class="value">
                                {{part.StartPrice}} €
                            </div>
                        </div>
                        <div class="info-card col l2 m6 s12">
                            <div class="title">
                                CostOfDelivery
                            </div>
                            <div class="value">
                                {{part.CostOfDelivery}} €
                            </div>
                        </div>
                        <div class="info-card col l2 m6 s12">
                            <div class="title">
                                TimeOfDelivery
                            </div>
                            <div class="value">
                                {{part.TimeOfDelivery}}
                            </div>
                        </div>
                        <div class="info-card col l2 m6 s12">
                            <div class="title">
                                DeviationOfDelivery
                            </div>
                            <div class="value">
                                {{part.DeviationOfDelivery}}
                            </div>
                        </div>
                    </div>
                    <div class="workstations row" *ngIf="getWorkstations(part.id).length > 0">
                        <div class="title">
                            Production
                        </div>
                        <ul>
                            <li *ngFor="let ws of getWorkstations(part.id)" class="workstation">
                                {{ws}}
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="nothingFound" *ngIf="filteredData.length === 0">
                Nothing found!
            </div>
        </div>
    </div>
</div>