<div class="selectPeriod">
    <h1>Planung</h1>
    <!-- Dropdown Trigger -->
    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Periode 1</a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
</div>

<div class="sections">
    <ul>
        <li class="section">
            <a class="section-link waves-effect waves-dark" routerLink="/app/planning/production" routerLinkActive="active">
                <i class="mdi mdi-speedometer"></i>
                <th data-field="ProductionHeader">{{'planning_production.title' | translate}}</th>
            </a>
        </li>
        <li class="section">
            <a class="section-link waves-effect waves-dark" routerLink="/app/planning/material" routerLinkActive="active">
                <i class="mdi mdi-speedometer"></i>
                <th data-field="MaterialHeader">{{'planning_material.title' | translate}}</th>
            </a>
        </li>
        <li class="section">
            <a class="section-link waves-effect waves-dark" routerLink="/app/planning/purchasing" routerLinkActive="active">
                <i class="mdi mdi-speedometer"></i>
                <th data-field="PurchaseHeader">{{'planning_purchasing.title' | translate}}</th>
            </a>
        </li>
        <li class="section">
            <a class="section-link waves-effect waves-dark" routerLink="/app/planning/capacity" routerLinkActive="active">
                <i class="mdi mdi-speedometer"></i>
                <th data-field="PurchaseHeader">{{'planning_capacity.title' | translate}}</th>
            </a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>