<div class="app-page animated fadeIn">
	<div class="page-heading">
		<h1>{{'inserts.title' | translate}}</h1>
		<p>{{'inserts.description' | translate}}</p>
	</div>
	<div class="page-content">

		<div class="row page-part">
			<md-tab-group>
				<md-tab>
					<template md-tab-label>{{'inserts.directPurchase' | translate}}</template>
					<template md-tab-content>
					</template>
				</md-tab>
				<md-tab>
					<template md-tab-label>{{'inserts.purchaseOrders' | translate}}</template>
					<template md-tab-content>
						<table>
							<thead>
								<th data-field="ComponentNumber">{{'inserts.componentNumber' | translate}}</th>
								<th data-field="ComponentAmount">{{'inserts.componentAmount' | translate}}</th>
							</thead>

							<tbody>
								<tr>
									<td>21</td>
									<td></td>
								</tr>
								<tr>
									<td>22</td>
									<td></td>
								</tr>
								<tr>
									<td>23</td>
									<td></td>
								</tr>
								<tr>
									<td>24</td>
									<td></td>
								</tr>
								<tr>
									<td>25</td>
									<td></td>
								</tr>
								<tr>
									<td>27</td>
									<td></td>
								</tr>
								<tr>
									<td>28</td>
									<td></td>
								</tr>
								<tr>
									<td>32</td>
									<td></td>
								</tr>
								<tr>
									<td>33</td>
									<td></td>
								</tr>
								<tr>
									<td>34</td>
									<td></td>
								</tr>
								<tr>
									<td>35</td>
									<td></td>
								</tr>
								<tr>
									<td>36</td>
									<td></td>
								</tr>
								<tr>
									<td>37</td>
									<td></td>
								</tr>
								<tr>
									<td>38</td>
									<td></td>
								</tr>
								<tr>
									<td>39</td>
									<td></td>
								</tr>
								<tr>
									<td>40</td>
									<td></td>
								</tr>
								<tr>
									<td>41</td>
									<td></td>
								</tr>
								<tr>
									<td>42</td>
									<td></td>
								</tr>
								<tr>
									<td>43</td>
									<td></td>
								</tr>
								<tr>
									<td>44</td>
									<td></td>
								</tr>
								<tr>
									<td>45</td>
									<td></td>
								</tr>
								<tr>
									<td>46</td>
									<td></td>
								</tr>
								<tr>
									<td>47</td>
									<td></td>
								</tr>
								<tr>
									<td>48</td>
									<td></td>
								</tr>
								<tr>
									<td>52</td>
									<td></td>
								</tr>
								<tr>
									<td>53</td>
									<td></td>
								</tr>
								<tr>
									<td>57</td>
									<td></td>
								</tr>
								<tr>
									<td>58</td>
									<td></td>
								</tr>
								<tr>
									<td>59</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</template>
				</md-tab>
				<md-tab>
					<template md-tab-label>{{'inserts.productionOrders' | translate}}</template>
					<template md-tab-content>
						<table>
							<thead>
								<th data-field="ComponentNumber">{{'inserts.componentNumber' | translate}}</th>
								<th data-field="ComponentAmount">{{'inserts.componentAmount' | translate}}</th>
							</thead>

							<tbody>
								<tr>
									<td>4</td>
									<td></td>
								</tr>
								<tr>
									<td>5</td>
									<td></td>
								</tr>
								<tr>
									<td>6</td>
									<td></td>
								</tr>
								<tr>
									<td>7</td>
									<td></td>
								</tr>
								<tr>
									<td>8</td>
									<td></td>
								</tr>
								<tr>
									<td>9</td>
									<td></td>
								</tr>
								<tr>
									<td>10</td>
									<td></td>
								</tr>
								<tr>
									<td>11</td>
									<td></td>
								</tr>
								<tr>
									<td>12</td>
									<td></td>
								</tr>
								<tr>
									<td>13</td>
									<td></td>
								</tr>
								<tr>
									<td>14</td>
									<td></td>
								</tr>
								<tr>
									<td>15</td>
									<td></td>
								</tr>
								<tr>
									<td>16</td>
									<td></td>
								</tr>
								<tr>
									<td>17</td>
									<td></td>
								</tr>
								<tr>
									<td>18</td>
									<td></td>
								</tr>
								<tr>
									<td>19</td>
									<td></td>
								</tr>
								<tr>
									<td>20</td>
									<td></td>
								</tr>
								<tr>
									<td>26</td>
									<td></td>
								</tr>
								<tr>
									<td>49</td>
									<td></td>
								</tr>
								<tr>
									<td>E54</td>
									<td></td>
								</tr>
								<tr>
									<td>E29</td>
									<td></td>
								</tr>
								<tr>
									<td>E50</td>
									<td></td>
								</tr>
								<tr>
									<td>E55</td>
									<td></td>
								</tr>
								<tr>
									<td>E30</td>
									<td></td>
								</tr>
								<tr>
									<td>E51</td>
									<td></td>
								</tr>
								<tr>
									<td>E56</td>
									<td></td>
								</tr>
								<tr>
									<td>E31</td>
									<td></td>
								</tr>
								<tr>
									<td>P1</td>
									<td></td>
								</tr>
								<tr>
									<td>P2</td>
									<td></td>
								</tr>
								<tr>
									<td>P3</td>
									<td></td>
								</tr>
							</tbody>
						</table>

					</template>
				</md-tab>
				<md-tab>
					<template md-tab-label>{{'inserts.productionCapacity' | translate}}</template>
					<template md-tab-content>
						<table>
							<thead>
								<th data-field="Workplace">{{'inserts.workplace' | translate}}</th>
								<th data-field="Workshift">{{'inserts.workshift' | translate}}</th>
								<th data-field="Overtime">{{'inserts.overtime' | translate}}</th>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>2</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>3</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>4</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>5</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>6</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>7</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>8</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>9</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>10</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>11</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>12</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>13</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>14</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>15</td>
									<td></td>
									<td></td>
								</tr>

							</tbody>
						</table>
					</template>
				</md-tab>
				<md-tab>
					<template md-tab-label>{{'inserts.bindingSales' | translate}}</template>
					<template md-tab-content>
                        <table>
							<thead>
								<th data-field="P1">P1</th>
								<th data-field="P2">P2</th>
								<th data-field="P3">P3</th>
							</thead>
							<tbody>
							</tbody>
                        </table>
					</template>
				</md-tab>
			</md-tab-group>
		</div>


	</div>
</div>