<div class="app-page animated fadeIn">
	<div class="page-content">
		<div class="row">
			<div class="col s12">
				<div class="page-part">
					<h2>{{'planning_inserts.productionOrders' | translate}}</h2>
					<table id="sales_table">
						<thead>
							<th data-field="productionOrders">{{'planning_inserts.directPurchase' | translate}}</th>
							<th data-field="productionOrders">{{'planning_inserts.bindingSales' | translate}}</th>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>

			<div class="col s12">
				<div class="page-part">
					<h2>{{'planning_inserts.productionOrders' | translate}}</h2>
					<table id="production_table">
						<thead>
							<th>{{'planning_inserts.componentNumber' | translate}}:</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>
							<th>9</th> 							
							<th>10</th>
							<th>11</th>
							<th>12</th>
							<th>13</th>
							<th>14</th>
							<th>15</th>
							<th>16</th>
							<th>17</th>
							<th>18</th>
							<th>19</th>
							<th>20</th>
							<th>26</th>
							<th>49</th>
							<th>E54</th>
							<th>E29</th>
							<th>E55</th>
							<th>E30</th>
							<th>E51</th>
							<th>E56</th>
							<th>E31</th>
							<th>P1</th>
							<th>P2</th>
							<th>P3</th>
						</thead>
						<tbody>
							<tr>
								<td>{{'planning_inserts.componentAmount' | translate}}:</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
								<td>100</td>
							</tr>							
						</tbody>
					</table>
				</div>

			</div>

			<div class="col s12 m3 l3">
				<div class="page-part">
					<h2>{{'planning_inserts.productionCapacity' | translate}}</h2>
					<table id="capacity_table">
						<thead>
							<th data-field="Workplace">{{'planning_inserts.workplace' | translate}}</th>
							<th data-field="Workshift">{{'planning_inserts.workshift' | translate}}</th>
							<th data-field="Overtime">{{'planning_inserts.overtime' | translate}}</th>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>2</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>3</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>4</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>5</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>6</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>7</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>8</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>9</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>10</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>11</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>12</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>13</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>14</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>15</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="col s12 m3 l3">
				<div class="page-part">
					<h2>{{'planning_inserts.purchaseOrders' | translate}}</h2>
					<table id="purchase_table">
						<thead>
							<th data-field="ComponentNumber">{{'planning_inserts.componentNumber' | translate}}</th>
							<th data-field="ComponentAmount">{{'planning_inserts.componentAmount' | translate}}</th>
							<th data-field="OrderType">{{'planning_inserts.orderType' | translate}}</th>
						</thead>
						<tbody>
							<tr>
								<td>21</td>
								<td></td>
							</tr>
							<tr>
								<td>22</td>
								<td></td>
							</tr>
							<tr>
								<td>23</td>
								<td></td>
							</tr>
							<tr>
								<td>24</td>
								<td></td>
							</tr>
							<tr>
								<td>25</td>
								<td></td>
							</tr>
							<tr>
								<td>27</td>
								<td></td>
							</tr>
							<tr>
								<td>28</td>
								<td></td>
							</tr>
							<tr>
								<td>32</td>
								<td></td>
							</tr>
							<tr>
								<td>33</td>
								<td></td>
							</tr>
							<tr>
								<td>34</td>
								<td></td>
							</tr>
							<tr>
								<td>35</td>
								<td></td>
							</tr>
							<tr>
								<td>36</td>
								<td></td>
							</tr>
							<tr>
								<td>37</td>
								<td></td>
							</tr>
							<tr>
								<td>38</td>
								<td></td>
							</tr>
							<tr>
								<td>39</td>
								<td></td>
							</tr>
							<tr>
								<td>40</td>
								<td></td>
							</tr>
							<tr>
								<td>41</td>
								<td></td>
							</tr>
							<tr>
								<td>42</td>
								<td></td>
							</tr>
							<tr>
								<td>43</td>
								<td></td>
							</tr>
							<tr>
								<td>44</td>
								<td></td>
							</tr>
							<tr>
								<td>45</td>
								<td></td>
							</tr>
							<tr>
								<td>46</td>
								<td></td>
							</tr>
							<tr>
								<td>47</td>
								<td></td>
							</tr>
							<tr>
								<td>48</td>
								<td></td>
							</tr>
							<tr>
								<td>52</td>
								<td></td>
							</tr>
							<tr>
								<td>53</td>
								<td></td>
							</tr>
							<tr>
								<td>57</td>
								<td></td>
							</tr>
							<tr>
								<td>58</td>
								<td></td>
							</tr>
							<tr>
								<td>59</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>