<div class="pagenotfoundpage">
	<div class="infoContainer col s12 animated fadeIn">
		<div class="row">
			<div class="col s12">
				<h4 class="title center-align">{{'pagenotfound.title'|translate}}</h4>
				<p class="subtitle center-align">{{'pagenotfound.description'|translate}}</p>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<button class="btn waves-effect waves-light" routerLink="/app">{{'pagenotfound.buttons.startpage'|translate}}</button>
			</div>
		</div>
		<div class="row">
			<p class="copy center-align">&copy; 2016 - Hochschule Karlsruhe</p>
		</div>
	</div>
</div>