<div class="pagenotfoundpage">
    <div class="infoContainer col s12 animated fadeIn">
        <div class="row">
            <div class="col s12">
                <h4 class="title center-align">404 Error</h4>
                <p class="subtitle center-align">Page not found</p>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <button class="btn waves-effect waves-light" routerLink="/app">Startpage</button>
            </div>
        </div>
        <div class="row">
            <p class="copy center-align">&copy; 2016 - Hochschule Karlsruhe</p>
        </div>
    </div>
</div>