<div class="app-page animated fadeIn">
	<div class="page-heading">
		<h1>{{'about.title' | translate}}</h1>
		<p>{{'about.description' | translate}}</p>
	</div>
	<div class="page-content">
		<div class="row">
			<div class="col s12">				
				<div class="page-part">
					<h3>{{'about.uni_title' | translate}}</h3>
					<!--<p>{{'about.uni' | translate}}</p>-->
					<img src="./../../images/Hska_logo.png" alt="HSKA Logo" width="300px">
				</div>
				<div class="page-part">
					<h3>{{'about.term_title' | translate}}</h3>
					<p>{{'about.term' | translate}}</p>
				</div>
				<div class="page-part">
					<h3>{{'about.devs' | translate}}</h3>
					<ul>
						<li>Andreas Foitzik</li>
						<li>Jan Schölch</li>
						<li>Sebastian Dittrich</li>
						<li>Philipp Kief</li>
					</ul>
				</div>
				<div class="page-part">
					<h3>{{'about.tech_title' | translate}}</h3>
					<ul>
						<li>Spring Boot</li>
						<li>Angular JS</li>
						<li>TypeScript</li>
						<li>Material Design</li>
						<li>Highcharts</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>