/*********************
COLORS
*********************/

$primary: #2c343f;
$primary-theme: #00838F;
$dark: #232323;

$light-gray: #e0e0e0;
$light-gray-basic: #eee; 
$gray: #bdbdbd;
$dark-gray: #424242;
$white: #fff;
$dirty-white: #f3f3f3;

$blue: #4fc3f7;
$green: #aed581;
$red: #e57373;
$yellow: #fff176;
$orange: #ffb74d;
$pink: #ff4081;
$dark-pink: #c2185b;