/*********************
GLOBAL STYLES
*********************/

@import "colors";

html, body {
    background-color: $dirty-white;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/*
* FORMS
*/

 /* label color */
.input-field label {
    color: $gray;
}
/* label focus color */
.input-field input[type]:focus + label {
    color: $gray;
}
/* label underline focus color */
.input-field input[type]:focus {
    border-bottom: 1px solid $primary !important;
    box-shadow: 0 1px 0 0 $primary !important;
}
/* valid color */
.input-field input[type].valid {
    border-bottom: 1px solid $primary !important;
    box-shadow: 0 1px 0 0 $primary !important;
}
/* invalid color */
.input-field input[type].invalid {
    border-bottom: 1px solid $primary !important;
    box-shadow: 0 1px 0 0 $primary !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: $primary;
}

/*
* HEADERS
*/
h1, h2, h3, h4, h5{
    color: $primary;
}

/**
* ICONS
*/
i.mdi{
    font-size: 1.3rem;
    display: initial;
}

/**
* ELLIPSIS
*/
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/**
* HEADLINES
*/
h1, h2, h3, h4, h5{
    line-height: 110%;
    margin: 1rem 0 1.68rem 0;
}
h1 {
    font-size: 2rem;        
}
h2 {
    font-size: 1.7rem;    
}
h3 {
    font-size: 1.5rem;    
}
h4 {
    font-size: 1.2rem;        
}